
  <div class="row p-3">
    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-105 mb-4">
      <div style="height: auto; text-align: center;">
        <img src="../../../../../assets/images/oldmarket3.jpg" height="100%" width="80%" style="border-radius: 30px;"> </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-10 col-sm-10 col-xs-10">
        <p class="The-International-Co">The Old Market in Sharm El-Sheikh offers visitors an authentic glimpse into the local culture and the way of life. This bustling marketplace is a feast for the senses, with colorful stalls, aromatic spices, and exotic handicrafts that transport visitors to another world.
<br>
          As you wander through the winding alleys of the Old Market, you'll encounter a vibrant mix of cultures, languages, and traditions that reflect the diverse influences that have shaped the Sinai Peninsula over the centuries. You'll discover traditional Bedouin clothing, intricate silver jewellry, and hand-woven carpets, all crafted by skilled artisans using age-old techniques. You’ll also discover the aroma of fresh spices and herbs fills the air, as vendors offer a dizzying array of flavors and scents, from saffron and cardamom to cinnamon and turmeric. You'll have the opportunity to sample traditional Egyptian street food, such as falafel, shawarma, and koshary, and experience the true taste of local cuisine.
        </p>
    </div>
  </div>
