<div class="row justify-content-center" style="position:relative; z-index: 1000;">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 col-xs-10" style="align-self: center;">
    <p>
      <span class="Now-lets-know-more">
        <span class="text-style-1">Now</span><span class="text-style-2"> let’s Learn</span><br><span
          class="text-style-3">more about</span><br><span class="text-style-1">The destination!</span>
      </span>
    </p>
    
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 col-xs-10" style="height: 350px; position: relative;">
    <a [routerLink]="['/Sharm-El-Sheikh/Introduction']">
    <div class="content">
      <div class="content-overlay"></div>
        <img src="../../../../assets/images/egypt-sharm-el-sheikh-attractions-things-to-do-city-scene.jpg"
        style="border-radius: 30px;" height="100%" width="100%">
        <div class="content-details fadeIn-top">
          <h3>Al Sahaba Mosque In Old Market</h3>
          
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row justify-content-center mt-3 mb-3">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['Sharm-El-Sheikh/Introduction']">
    <div class="content">
    <div class="content-overlay"></div>
    <img src="../../../../assets/images/rasmohamednationalpark.jpg" height="100%" width="100%"
      style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Corals in Sharm El-Sheikh</h3>
      
    </div>
  </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['Sharm-El-Sheikh/Ras-Mohammed-National-Park']">
    <div class="content">
    <div class="content-overlay"></div>
    <img class="content-image" src="../../../../assets/images/entranceof rasmohamed.jpeg" style="border-radius: 30px"
      height="100%" width="100%">
    <div class="content-details fadeIn-top">
      <h3>Entrance of Ras Mohamed</h3>
      
    </div>
  </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/Introduction']">
    <div class="content">
    <div class="content-overlay"></div><img class="content-image"
      src="../../../../assets/images/sharm_el_sheikh_honeymoon_0.jpg" height="100%" width="100%"
      style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Sharm El-Sheikh Nature</h3>
      
    </div>
    </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/Introduction']">
    <div class="content">
    <div class="content-overlay"></div><img class="content-image" src="../../../../assets/images/rasmohamed.jpeg"
      height="100%" width="100%" style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Corals In Ras Mohamed</h3>
      
    </div>
  </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/The-Old-Market']">
    <div class="content">
    <div class="content-overlay"></div><img class="content-image" src="../../../../../assets/images/oldmarket.jpg"
      height="100%" width="100%" style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Al Sahaba Mosque</h3>
      
    </div>
  </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/The-Blue-Hole']">

    <div class="content">
    <div class="content-overlay"></div><img class="content-image" src="../../../../../assets/images/bluehole1.jpg"
      style="border-radius: 30px" height="100%" width="100%">
    <div class="content-details fadeIn-top">
      <h3>Blue Hole</h3>
    </div>
  </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/StCatherine-Mountain']">
    <div class="content">
    <div class="content-overlay"></div><img class="content-image" src="../../../../assets/images/stcatherine.jpg"
      height="100%" width="100%" style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Saint Catherine</h3>
      
    </div>
    </div>
    </a>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10 col-xs-10 mb-3" style="height: 200px;">
    <a [routerLink]="['/Sharm-El-Sheikh/The-Old-Market']">

    <div class="content">
    <div class="content-overlay"></div><img class="content-image" src="../../../../../assets/images/oldmarket2.jpg"
      height="100%" width="100%" style="border-radius: 30px">
    <div class="content-details fadeIn-top">
      <h3>Old Market</h3>
      
    </div>
  </div>
    </a>
  </div>
</div>