.The-International-Co {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.5; */
  letter-spacing: normal;
  color: #323333;
  /* text-align: justify;
  text-justify: inter-word; */
}