
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mb-4">
      <div style="height: auto; text-align: center;">
        <img src="../../../../../assets/images/soho3.jpg" height="100%" width="80%" style="border-radius: 30px;"> </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-10 col-sm-10 col-xs-10">
        <p class="The-International-Co">
          Soho Square is a true playground for the senses, with a dizzying array of shops, restaurants, and entertainment venues to explore. From trendy boutiques and artisanal shops to chic cafes and bustling nightclubs, there's something for everyone in this funky and eclectic destination.
          <br>
          Bring all the night owls you know as that’s when the party really begins. Soho Square comes alive with music, lights, and a pulsing energy that will keep you dancing until the early hours of the morning. You can catch a live performance by local musicians, watch a thrilling acrobatics show, or simply mingle with the friendly and fun-loving crowds.
          <br>
          Whether you're looking for an unforgettable night out, a unique shopping experience, or simply a fun and funky destination to explore, Soho Square in Sharm El-Sheikh is a destination that is not to be missed. So come and join the party, and discover the magic and wonder of this truly one-of-a-kind destination.
        </p>
    </div>
  </div>

