<app-user-header></app-user-header>
<div class="container mt-4 mb-4">
  <span class="Homepage">
    Homepage /
  </span>

  <span class="For-participants">
    Venue
  </span>
  <div class="row justify-content-center p-3">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-8">
      
    <div class="img-wrapper">
      <img src="../../../../assets/images/International Convention Center 1.png" style="border-radius: 30px;">
    </div>
      <h5 class="H5Torinto mb-3">Tonino Lamborghini International Convention Center Sharm El Sheikh:</h5>
      <p class="The-International-Co">The Arab Academy for Science, Technology, and Maritime Transport (AAST) has been chosen as the host of the 2023 ICPC World Finals Sharm el-Sheikh, Egypt, and the prestigious event will take place at the Tonino Lamborghini International Convention Center Sharm El Sheikh. The convention center has been selected for its outstanding facilities and advanced technology.
      </p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-8">
      <h5 class="H5Torinto mb-3">Find location on map:</h5>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.594871901714!2d34.3633125!3d27.9450625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1453482516014b3d%3A0xaa5994e5135e2df9!2sTonino%20Lamborghini%20International%20Convention%20Center%20Sharm%20El%20Sheikh!5e0!3m2!1sen!2seg!4v1679859602285!5m2!1sen!2seg" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>