<app-user-carousel></app-user-carousel>
<div class="container">
  <!-- <p>Ready To Have Fun In Sharm ElSheikh</p> -->
  <!-- Ready to compete and unwind? Join us at ICPC2023 in Sharm El-Sheikh -->
  <!-- <span class="READY-TO-HAVE-FUN-IN">
    <span class="text-style-1">READY</span><span class="text-style-2" >TO Join Us</span><span class="text-style-3"> AT</span><span class="text-style-21"> ICPC2023 </span><span class="text-style-3"> IN</span> SHARM ELSHEIKH
  </span> -->
  
  <div class="row m-0 p-0 justify-content-around shape-one p-0 m-0 pb-4">
    <div class="col-xl-5 col-md-5 col-sm-12 my-auto" style="position: relative;">
      <div class="READY-TO-HAVE-FUN-IN">
        <p>
          <span class="text-style-1">Congratulations </span>
          <br>
          <span class="text-style-3">For</span>
          <span class="text-style-21"> advancing to World Finals</span>
          <span class="text-style-3">!</span>
          <br>
          <span class="text-style-12"> Get ready</span>
          <span class="text-style-3"> TO</span>
          <span class="text-style-12"> be part </span>
          <span class="text-style-3"> OF </span>
          <br>
          <span class="text-style-1">History!</span>
        </p>

      </div>
    </div>
    <div class="col-xl-7 col-md-7 col-sm-12 text-center" style="position: relative;">
      <iframe src="https://www.youtube.com/embed/90wSfeMv2PE" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <app-main-body-sharmelsheikh></app-main-body-sharmelsheikh>
</div>
  <div class="row m-0 p-0 justify-content-around mt-4 pt-5 pb-5 bg-light text-center">
    <p class="col-12 icpc-global-supporte text-center my-3">ICPC GLOBAL SUPPORTERS AND SPONSORS</p>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <a href="http://icpc.foundation/" target="_blank">
        <div class="img-wrapper mt-3">
          <img src="../../../../assets/images/sponsers&sporters/ICPCLogo_large.png">
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <a href="https://upe.acm.org/" target="_blank">
        <div class="img-wrapper mt-3">
        <img src="../../../../assets/images/sponsers&sporters/upe-key-bronze.png">
        </div>
        </a>
      </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <a href="https://www.jetbrains.com/careers/apply/" target="_blank">
        <div class="img-wrapper mt-3">
        <img src="../../../../assets/images/sponsers&sporters/JetBrains_square.png">
        </div>
        </a>
      </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-5">
      <a href="https://career.huawei.com/reccampportal/portal5/index.html" target="_blank">
        <div class="img-wrapper mt-3">
        <img src="../../../../assets/images/sponsers&sporters/huawei-logo-png-hd-0-removebg-preview.png">
        </div>
        </a>
      </div>
    <p class="col-12 icpc-global-supporte text-center my-3">HOST AND ORGANIZERS</p>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"><a href="https://aast.edu/en/" target="_blank">
      <div class="mb-3" style="text-align: center; margin: 0 auto; width: 160px;">
        <img src="../../../../assets/images/Host and Organizers/aasmt.png" width="100%"></div></a></div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"><a href="https://mcit.gov.eg/en" target="_blank">        
      <div class="host-img-wrapper mb-3">
      <img src="../../../../assets/images/Host and Organizers/mcit-en.png"></div></a></div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12"><a [routerLink]="['/Sharm-El-Sheikh/Introduction']">
      <div class="host-img-wrapper mb-3">
        <img src="../../../../assets/images/Host and Organizers/Sharm.png">
      </div></a>
    </div>
  </div>
  <div class="container">
  <div class="row m-0 p-0 justify-content-between m-2">
    <div class="col-12 my-5">
      <h2 class="ICPC-Homepage-v2">The Countdown Begins!</h2>
      <p class="The-International-Co mb-1" style="width: 100%;">
        Get ready to mark your calendars for the 46th and 47th Annual ICPC World Finals, hosted by The Arab Academy of
        Science, Technology and Maritime Transport (AASTMT), taking place in the picturesque city of Sharm El-Sheikh,
        Egypt from 12-17 November 2023. This prestigious programming competition, sponsored by Huawei and JetBrains,
        will be a showcase of innovation and excellence, bringing together the brightest young minds in computer science
        to compete for the title of ICPC World Champion.
        <br>
        With the support of Institutional sponsors such as Upsilon Pi Epsilon Honor Society and the Ministry of
        Communications and Information Technology in Egypt, this event promises to be an exciting gathering of industry
        leaders, pushing competitors to their limits as they solve complex algorithmic problems. And, with its rich
        culture, stunning landscapes, and warm hospitality, Sharm El-Sheikh is the perfect backdrop for this
        unforgettable event. Don't miss out on this opportunity to witness history being made and be part of an
        adventure like no other.
      </p>
    </div>
  </div>
  <div class="row justify-content-around m-0 p-0 mb-4 mt-2 pt-5 pb-5 text-center" style="font-weight: bold; line-height: 50px; color: whitesmoke; background: url(../../../../assets/images/bgforcounts.jpg);
  background-repeat: no-repeat;
  background-size: cover;">
    <div class="col-xl-2 col-md-3 col-sm-6 mb-4">
      <p><i class="fa-solid fa-people-group fa-2xl" style="font-size: 32px;"></i></p>
      <h4>+2,000</h4>
      <h5>ATTENDEES</h5>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 mb-4">
      <p><i class="fa-solid fa-laptop-code fa-2xl" style="font-size: 32px;"></i></p>
      <h4>+840</h4>
      <h5>CONTESTANTS</h5>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 mb-4">
      <p><i class="fa-solid fa-graduation-cap fa-2xl" style="font-size: 32px;"></i></p>
      <h4>+170</h4>
      <h5>UNIVERSITIES</h5>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 mb-4">
      <p><i class="fa-solid fa-globe fa-2xl" style="font-size: 32px;"></i></p>
      <h4>+50</h4>
      <h5>COUNTRIES</h5>
    </div>
  </div>
</div>
