<div class="row p-3">
  <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mb-4">
    <div style="max-height: 250px; text-align: center;">
      <img src="../../../../../assets/images/safari.jpg" height="100%" width="80%" style="border-radius: 30px;"> </div>
  </div>
  <div class="col-xl-7 col-lg-7 col-md-10 col-sm-10 col-xs-10">
      <p class="The-International-Co">From the rugged mountains and towering sand dunes to the endless stretches of golden sand and breathtaking sunsets, the desert is a world of natural wonders waiting to be explored. As you embark on your safari adventure, you'll be greeted by friendly Bedouin guides, who will lead you through the desert quad bikes. You'll discover the hidden secrets of the desert, including ancient caves, oases, and Bedouin settlements that have been around for centuries.
      </p>
  </div>
</div>