<!-- <div class="row pt-3">
  <div class="col-12">    <p class="The-International-Co">When applying for a visa to travel to Egypt, it's important to follow the correct procedures to ensure that your application is successful. If you are eligible, you may be able to apply for an e-visa through the official website of the Egyptian government's e-visa portal.</p></div>
</div> -->
<div class="row p-3">
  <div class="col-12"><p class="The-International-Co">When applying for a visa to travel to Egypt, it's
    important to follow the correct procedures to ensure that your application is successful. If you are eligible,
    you may be able to apply for an e-visa through the official website of the Egyptian government's e-visa portal.</p></div>
  <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-xs-8">
    <!-- <p class="About-International">Visa information will be updated soon.</p> -->
      <!-- <p class="About-International">Visa information will be updated soon.</p> -->
      <p class="About-International">
        Here are the general steps you would need to follow to apply for an Egyptian e-visa through the official
        website:</p>
      <ol class="The-International-Co">
        <li>To check whether your country is listed on the Egypt e-Visa Portal, please visit the official website at <a
            href="https://visa2egypt.gov.eg/" target="_blank">Here</a></li>
        <li>Click on "Apply Now".</li>
        <li>Create an account by providing your email address and creating a password.</li>
        <li>Once you have created an account, login to the website and select the type of visa you require (e.g.,
          tourist visa, business visa, etc.).</li>
        <li>Fill in the online visa application form with your personal and travel information, including your passport
          details, purpose of travel, and travel dates.</li>
        <li>Upload scanned copies of any supporting documents required, such as your passport bio page, a recent
          passport photo, and any other required documents.</li>
        <li>Pay the visa fee using a credit or debit card.
          <ul>
            <li>Note: Visa fees vary from 0 USD to 100 USD depending on the visa type.</li>
          </ul>
        </li>
        <li>Submit your application.</li>
        <li>Wait for your application to be reviewed and processed by the Egyptian authorities. Processing times may
          vary depending on the type of visa and other factors, so it is advisable to apply well in advance of your
          planned travel dates.</li>
        <li>Once your visa application is approved, you will receive an e-visa via email. Print out a copy of your
          e-visa and carry it with you when you travel to Egypt.</li>
      </ol>
      <p class="The-International-Co"><span style="font-weight: bold; color: brown; font-size: larger;">Note:</span>
      </p>
        <ol class="The-International-Co">
          <li>These steps are general and the specific requirements and steps may vary depending on the type of visa you
            are applying for and your individual circumstances.<span style="font-weight: bold;"> Therefore, it's always advisable to review the
              instructions on the official website carefully and contact the consulate or embassy if you have any
              questions or concerns.</span> </li>
            <li>In case you do not find your nationality listed on the portal, we kindly suggest that you reach out to the Egyptian Embassy in your country for additional information. </li>
            <li>If you have any inquiries, please feel free to contact us at visa.wfsharm@icpc.global, <span style="font-weight: bold;">
              no later than 90 days
            </span> prior to your extended arriving to sharm inorder to help you.</li>
        </ol>
    </div>
    <!-- <p class="About-International" style="font-weight: bold;">The general steps you would need to follow to apply for an Egyptian e-visa through the official website:</p>
    <ol class="The-International-Co">
      <li>Visit the official website of the Egyptian government's e-visa portal at <a href="https://visa2egypt.gov.eg/" target="_blank">Here</a></li>
      <li>Click on "Apply for a visa".</li>
      <li>Create an account by providing your email address and creating a password.</li>
      <li>Once you have created an account, login to the website and select the type of visa you require (e.g., tourist visa, business visa, etc.).</li>
      <li>Fill in the online visa application form with your personal and travel information, including your passport details, purpose of travel, and travel dates.</li>
      <li>Upload scanned copies of any supporting documents required, such as your passport bio page, a recent passport photo, and any other required documents.</li>
      <li>Pay the visa fee using a credit or debit card.</li>
      <li>Submit your application.</li>
      <li>Wait for your application to be reviewed and processed by the Egyptian authorities. Processing times may vary depending on the type of visa and other factors, so it is advisable to apply well in advance of your planned travel dates.</li>
      <li>Once your visa application is approved, you will receive an e-visa via email. Print out a copy of your e-visa and carry it with you when you travel to Egypt.</li>
      </ol>
      <p class="The-International-Co"><span style="font-weight: bold; color: brown; font-size: larger;">Note:</span> These steps are general and the specific requirements and steps may vary depending on the type of visa you are applying for and your individual circumstances. Therefore, it's always a good idea to review the instructions on the official website carefully and contact the consulate or embassy if you have any questions or concerns.
      </p> -->
  <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-xs-8">
    <div style="height: 350px; text-align: end;">
      <img src="../../../../../assets/images/visaInfo2.jpg" height="100%" width="80%"> </div>
  </div>
</div>
