<div class="row p-3">  
  <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-xs-8 m-auto">
    <div style="height: 350px; text-align: center;">
      <img src="../../../../../assets/images/camel6.jpg" height="100%" width="80%"> </div>
  </div>
  <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-xs-8">
    <h5 class="About-International">Transportation From/To the Airport:</h5>
    <p class="The-International-Co">
      As contestants arrive at the airport for the 2023 ICPC World Finals Sharm el-Sheikh, they can rest assured that they will be greeted with a warm welcome. One of the Host transportation team members will be waiting at the arrival gate, holding a sign bearing the iconic ICPC logo, ready to whisk them away to their accommodations.
      <br>
Similarly, when it's time for contestants to leave, the Host transportation team will ensure they arrive at the airport in a timely manner, in order to return home safely.
<br>
This thoughtful gesture is just the beginning of what promises to be an unforgettable experience, with a team of dedicated Hosts and Organizers committed to ensuring a seamless and enjoyable experience from start to finish.
So sit back, relax, and let the Host transportation team take care of the rest – so you can focus on showcasing your programming prowess and making memories that will last a lifetime.
      </p>
      <p class="The-International-Co">
        In case you encounter any difficulties with transportation, please do not hesitate to reach out to us via email at:
        <a href="mailto: transportation.wfsharm@icpc.global"><span>transportation.wfsharm@icpc.global</span></a>
      </p> 
  </div>
</div>
<!-- <div class="row mt-3 p-5" style="background-color: #ffefa7;">  
  <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-xs-8">
    <h5 class="About-International">Explore Sharm El Sheikh with inDrive:</h5>

    <p class="The-International-Co">
      If you're interested in exploring the sights and sounds of Sharm El Sheikh while you're in the area for the International Collegiate Programming Contest (ICPC), the inDrive application is a great option to consider. With this convenient app, you can easily book a private driver to take you wherever you want to go, whether you're looking to soak up the sun on the beach, go shopping at local markets, or explore the historic sites of the region.
     
      <span style="font-weight: 700;">However, it's important to note that all teams must attend all mandatory events and any travel outside of the official ICPC events will be entirely at your own risk and responsibility, and the inDrive app is simply a suggestion for convenient transportation.</span> So use the app wisely, and enjoy all that this beautiful region has to offer!  
      </p>
  </div>
  <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-xs-8 m-auto">
    <div style="text-align: center;" class="mb-2">
      <img src="../../../../../assets/images/InDrive_Logo.svg.png" height="auto" width="80%"> </div>
</div>
</div>
<div class="row justify-content-center mb-5 pb-5" style="background-color: #ffefa7;">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
    <div style="text-align: center;" class="mb-2">
      <a href="https://play.google.com/store/apps/details?id=sinet.startup.inDriver&hl=en&gl=US&pli=1" target="_blank">
        <img src="../../../../../assets/images/logo_playstore.svg" height="auto" width="100%">
      </a>
    </div>
    </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
    <div style="text-align: center;">
      <a href="https://apps.apple.com/eg/app/indriver-offer-your-fare/id780125801" target="_blank">
        <img src="../../../../../assets/images/logo_appstore.svg" height="auto" width="100%">
      </a>
  </div>
  </div>
</div> -->
