<div class="container mb-5">
  <h3 class="About-International">
    Health Measures:
  </h3>
    <ul class="The-International-Co">
      <li>ICPC hotels implement strict security measures, including metal detectors and hand baggage scans upon entering the hotel premises.</li>
      <li>ICPC ensures participant security by organizing and supervising transportation, ensuring a secure and convenient experience for all.</li>
      <li>Public access to ICPC events is restricted to registered guests.</li>
      <!-- <li>2 Ambulances will be on duty at ICCB during official events</li> -->
      <!-- <li>2 additional Ambulances will be on duty to cover hotels</li> -->
      <!-- <li>local hospitals have reserved beds for the ICPC period, should any attendees need medical support for any reason.</li> -->
      <!-- <li>A host volunteers will stay with hospitalized attendees to act as translator and to ensure that any dietary requirements are being fulfilled.</li> -->
      <li>ICPC hotels, and the ICPC Operations Team have solid emergency and evacuation plans in place to ensure the safety and well-being of everyone involved.</li>
      <!-- <li>ICPC will have ambulances staffed with doctors readily available at all ICPC events.</li>
      <li>Both the ICPC hotels and operations team have solid emergency and evacuation plans in place to ensure the safety and well-being of everyone involved.</li> -->
    </ul>
    
    
     
   <h3 class="About-International">
    Security Measures:
  </h3>
 <ul class="The-International-Co">
  <li>ICPC hotels implement strict security measures, including metal detectors and hand baggage scans upon entering the hotel premises.</li>
  <li>All transportation to and from the airport and between hotels and the contest venue is organized and controlled by ICPC/Host staff and Host volunteers.</li>
  <li>Host volunteers greet contestants and guests at the airport and escort them to their organized transportation.</li>
  <li>Metal detectors are in place at the contest venue entrance to ensure a safe and secure event for all attendees.</li>
  <li>Access to ICPC events is restricted to registered guests.</li>
  <li>ICPC Hotels, and the ICPC Operations Team have solid emergency and evacuation plans in place to ensure the safety and well-being of everyone involved.</li>
 </ul>








</div>