.Homepage {
  font-size: 16px;
  line-height: 1.71;
  color: #bfbfbf;
}
.For-participants {
  font-size: 16px;
  line-height: 1.71;
  color: #343433;
  font-weight: bold;
}
/* .img-wrapper {display:inline-block; height:180px; overflow:hidden; width: 400px;} */
  /* .img-wrapper a img {height:250px;} */