<app-user-header></app-user-header>
<div class="container mt-4">
  <span class="Homepage">
    Homepage /
  </span>

  <span class="For-participants">
    Organizers
  </span>
  <div class="row p-3 mt-1">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-3 text-center" style="align-self: center;">
      <div style="text-align: center; margin: 0 auto; width: 160px;">
        <a href="https://aast.edu/en/" style="text-decoration: none; color: #b23c3a;" target="_blank"><img width="100%" src="../../../../assets/images/Host and Organizers/aasmt.png"></a></div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-10 col-xs-10 mb-3">
      <h5 style="border-bottom: 2px solid black; width: fit-content;">        Arab Academy for Science, Technology and Maritime Transport (AAST)
      </h5>
      <p>
        Established in 1972, the Arab Academy for Science, Technology and Maritime Transport (AAST) has a rich history
        of providing top-notch education and training to students in the Arab world and beyond. Over the years, AAST has
        become a well-respected institution of higher education, with a reputation for academic excellence and a strong
        commitment to research and innovation. The university's founders envisioned AAST as a center of excellence that
        would help transform the Arab world through education, and today the institution remains committed to that
        mission. With its cutting-edge facilities, distinguished faculty, and robust academic programs, AAST is a
        vibrant and dynamic institution that is poised to continue making a significant impact in the years ahead for more information <a href="https://aast.edu/en/" style="text-decoration: none; color: #3a66b2; font-weight: bold;" target="_blank">click here</a>.
      </p>
    </div>
   <hr class="p-2">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-3 text-center" style="align-self: center;">
      <div class="img-wrapper">
        <img src="../../../../assets/images/Host and Organizers/mcit-en.png"> </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-10 col-xs-10 mb-3">
      <h5 style="border-bottom: 2px solid black; width: fit-content;">Ministry of Communications and Information Technology</h5>
      <p>
        The Egyptian Ministry of Communications and Information Technology (MCIT) is the government body responsible for
        information and communications technology (ICT) issues in the Arab Republic of Egypt. The Ministry of
        Communications and Information Technology (MCIT) launched a National Plan for ICT, establishing
        multi-disciplinary projects and initiatives related to vital sectors, such as education and health. The national
        plan helps the ministry promote the use of ICT nationwide as a means to achieve national development goals; and
        establish the pillars of a knowledge society in Egypt in close collaboration with other governmental, civil
        society and private sector entities <a href="https://mcit.gov.eg/en" style="text-decoration: none; color: #3a66b2; font-weight: bold;" target="_blank">click here</a>.</p>

    </div>

    <hr class="p-2">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-3 text-center" style="align-self: center;">
      <div class="img-wrapper">
        <img src="../../../../assets/images/Host and Organizers/Sharm.png"> </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-10 col-xs-10 mb-3">
      <h5 style="border-bottom: 2px solid black; width: fit-content;">Sharm El-Sheikh</h5>
      <p>
        Sharm El-Sheikh is an excellent choice for this prestigious event. The city has a long history of welcoming
        visitors from around the world, and its reputation for hospitality and professionalism is well-deserved. With
        its modern infrastructure, world-class hotels, and state-of-the-art convention center, Sharm El-Sheikh has
        everything needed to host an event of this magnitude. The city's location at the crossroads of Africa, Asia, and
        Europe also makes it an ideal location for international events, with easy access to major transportation hubs
        and a diverse range of cultural attractions. As the host of the ICPC 2023, Sharm El-Sheikh is committed to
        providing a safe, secure, and unforgettable experience for all participants, and looks forward to welcoming the
        world's best and brightest programmers to its shores.
      </p>
    </div>
  </div>
</div>