  <div class="row mb-3 justify-content-center p-3">
    <div class="col-12">
      <p class="About-International">Welcome to the mesmerizing destination of Sharm El-Sheikh!</p>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10">
      <p class="The-International-Co">Sharm El Sheikh is a popular tourist destination located on the southern tip of
        the Sinai Peninsula in Egypt. It is known for its beautiful beaches, clear waters, and excellent diving and
        snorkeling opportunities. The city is home to numerous resorts, hotels, restaurants, and shops, making it a
        popular vacation spot for visitors from around the world. In addition to beach activities, Sharm El Sheikh also
        offers a range of cultural and historical attractions, including ancient ruins and religious sites. Overall,
        Sharm El Sheikh is a stunning and vibrant destination that offers something for everyone, from adventure seekers
        to those looking for relaxation and leisure.
        <br>
        One of the most striking features of Sharm El-Sheikh's culture is its music and dance which the Bedouin people,
        who have lived in the region for centuries, are known for, but perhaps the most unique aspect of Sharm
        El-Sheikh's culture is its history. The city has a rich and fascinating past, with ancient ruins, temples, and
        tombs dating back thousands of years.
        <br>
        Visitors can explore these historic sites, such as the St. Catherine Monastery, the Dahab Blue Hole, and the Ras
        Mohammed National Park, and discover the stories and legends that make Sharm El-Sheikh such a special and
        magical place.
        <br>
        Come and immerse yourself in the rich and vibrant culture of Sharm El-Sheikh, and discover the treasures that
        await you in this incredible destination and let Sharm El-Sheikh enchant you with its wonders!
      </p>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10 col-xs-10 my-auto">
      <div style="height: auto; text-align: center; margin: 0 auto; width: 300px;">
        <img src="../../../../../assets/images/Host and Organizers/Sharm.png" height="100%" width="100%"> </div>
    </div>
  </div>