<div class="row p-3">  
  <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-xs-8 m-auto mb-3">
    <div style="height: 80%; text-align: center;">
      <img src="../../../../../assets/images/Host and Organizers/aasmt.png" height="100%" width="50%"> </div>
  </div>
  <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-xs-8">
    <h5 class="About-International">The Arab Academy for Science, Technology and Maritime Transport (AAST):</h5>
    <p class="The-International-Co">The Arab Academy for Science, Technology and Maritime Transport (AAST) is a leading academic institution that is committed to excellence in education, research, and innovation. With campuses across the Arab world and a reputation for academic excellence, AAST is uniquely positioned to host the International Collegiate Programming Contest (ICPC) in 2023. As a pioneer in the fields of science, technology, and maritime transport, AAST has a long history of fostering innovation and providing cutting-edge education to students from around the world. With its state of the art facilities, world renowned faculty, and commitment to student success, AAST is dedicated to ensuring that “2023 ICPC World Finals Sharm el-Sheikh, Egypt” is an unforgettable event for all participants and guests.  
      </p>
  </div>
</div>