  <div id="coloredDiv" style="background-color: #1E3756; height: fit-content; position: relative;">
    <header class="row m-0 p-2 pb-0 m-0">
      <div class="col-2 logo text-center">
        <div style="margin: 0 auto;" class="img-wrapper">
          <a href="http://icpc.foundation/" target="_blank"><img src="../../../../../assets/images/ICPC New Logo.png"></a>
        </div>
        <!-- <div style="width: 100px; height: 80px; margin: 0 auto;">
          <img src="../../../../../assets/images/ICPCLogo_large white.png" width="100%" height="100%">
        </div> -->
      </div>
      <div class="col-8 mt-3">
        <nav class="navbar navbar-expand-lg p-0 pt-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="padding: 2%; background-color: orange; margin-left: 100%;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center m-auto">
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Home']">Home</a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/About']">About
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/For-Participants/Visa-Information']">FOR PARTICIPANTS
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Sharm-El-Sheikh/Introduction']">SHARM EL-SHIEKH
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Venue']">VENUE
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Gallery']">GALLERY
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Hotels']">HOTELS
                </a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Schedule']">Schedule</a>
              </li>
              <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/Organizers']">ORGANIZERS
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="callDiv col-2" style="text-align: center;">
        <a [routerLink]="['/Call-For-Help']" class="call"><i class="fa-solid fa-phone fa-xl"></i></a>
      </div>
    <!-- <div class="col-1 mt-3">
      <span class="lan" style="font-weight: bold;">AR</span>
    </div> -->
    </header>




</div>


