
  <div class="row p-3">
    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mb-4">
      <div style="max-height: 250px; text-align: center;">
        <img src="../../../../../assets/images/stcatherine3.jpg" height="100%" width="80%" style="border-radius: 30px;"> </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-10 col-sm-10 col-xs-10">
        <p class="The-International-Co">St. Catherine Mountain is the site where Moses received the Ten Commandments from God, and since ancient times, it has been a place of pilgrimage for people of all faiths. The mountain is home to the stunning St. Catherine's Monastery, a UNESCO World Heritage Site that dates back to the 4th century AD and is one of the oldest working Christian monasteries in the world.
  <br>
  St. Catherine Mountain doesn't end with its rich history and mythology, it's also a place for adventurous travelers, the mountain offers a range of exciting activities, from hiking and rock climbing to camel riding and camping.  If you’re one of those seeking a more spiritual experience, I assure you that this is your perfect spot as there are a number of meditation and yoga retreats that take place in the serene surroundings of the mountain while witnessing the sunrise from the summit of the mountain as the first rays of light break over the horizon, the entire mountain is bathed in a golden glow.
 </p>
    </div>
  </div>

