  <div class="row p-3">
    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mb-4">
      <div style="height: auto; text-align: center;">
        <img src="../../../../../assets/images/sharmmuseum.jpeg" height="100%" width="80%"
          style="border-radius: 30px;"> </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-10 col-sm-10 col-xs-10">
      <p class="The-International-Co">The Sharm El-Sheikh Museum provides visitors with a unique insight into the
        Sinai's rich history and culture. From ancient artefacts to contemporary artworks, the museum is a treasure
        trove of marvellous exhibits that will captivate visitors from all over the world.
        <br>
        As you enter the museum, you'll be greeted by stunning displays of ancient Egyptian artefacts dating back
        thousands of years, such as pottery, jewellery, and statuettes. You'll learn about the Bedouin people's ancient
        roots and unique way of life, including their traditional clothing, tools, and crafts.
      </p>
    </div>
  </div>